
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Criando e concatenando DataFrames-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Organizando dataFrames-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Filtrando imoveis residenciais e exportando em csv-checkpoint.ipynb
