
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Criando e concatenando DataFrames-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Organizando dataFrames-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Filtrando imoveis residenciais e exportando em csv-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Filtragens, seleções e frequencia-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Formas de seleção  (loc e iloc)-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Tratamentos de dados faltantes-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Metodos de interpolação-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Criando novas variaveis no dataSet-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Criando e selecionando itens por Faixas de Valor-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/GroupBy e Estatisticas descritivas-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Identificando e removendo Outliers (Tambem em grupo)-checkpoint.ipynb
Pandas-Tratamento e analise de dados/.ipynb_checkpoints/Identificando e Removendo outliers (tambem em grupos)-checkpoint.ipynb
